name: Go CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes

      - name: Format Codebase
        run: nix develop --command make fmt

      - name: Run Frontend Checks
        run: nix develop --command bash -c 'cd wails-app/frontend && npm install && npm run lint && npm run format-check'

      - name: Run golangci-lint
        run: nix develop --command bash -c 'GOOS=windows golangci-lint run ./...'

      - name: Build
        run: nix develop --command make build
